body {
    background-color: #404eed;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* HEADER */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

header {
    background-color: #404eed;
    padding: 22px 166px 0 166px; /* Adjust padding for better responsiveness */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items with space-between */
    align-items: center; /* Align items vertically at the center */
}

.menu-holder {
    margin: 16px 0 12px 0;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header ul li {
    margin-right: 44px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

header ul li a:hover {
    text-decoration: none; /* Remove the default underline */
    position: relative;
}

header ul li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.log-in-holder-add, .log-in-holder-main {
    padding: 0;
    margin: 0;
}

.log-in-holder-add, .log-in-holder-main  button {
    display: flex;
    align-items: center;
    height: 38px;
    width: 64px;
    padding: 7px 16px 7px 16px;
    font-size: 14px;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #2c2f33;
    border: 0 solid #3498db;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.log-in-holder-add, .log-in-holder-main button:hover {
    color: #3498db;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


/*GENERAL CLASSES FOR MAIN CONTENT*/
.content {
    padding-top: 80px;
    text-align: center; /* Center text within the content div */
    max-width: 780px;
    font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
    font-size: 56px;
    font-weight: 800;
}

h2{
    font-size: 40px;
    font-weight: 800;
}

h3{
    font-size: 42px;
    font-weight: 800;
}

h4{
    font-size: 28px;
    font-weight: 800;
}

p{
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.5;
}

/*IMGs*/
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -1;
    margin-left: -520px;
}

.overlay-image {
    position: absolute;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.left {
    width: 689px;
    height: 352px;
    margin-left: -260px;
    left: 0;
    bottom: 0;
}

.right {
    width: 689px;
    height: 352px;
    margin-right: -260px;
    right: 0;
    bottom: 0;
}

/*ROW 1*/
.row1 {
    /*height: 626px;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

/* Styles for buttons */
.main-buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.common-button-style {
    display: flex;
    align-items: center;
    height: 56px;
    /*width: 316px;*/
    padding: 16px 32px;
    font-size: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    border: 0 solid #3498db;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

/* Button specific styles for Download for Windows */
.btn-wind button {
    margin: 24px 8px;
    background-color: #ffffff;
    color: #2c2f33;
}

/* Button specific styles for Open button */
.btn-open button {
    margin: 24px;
    background-color: #23272a;
    color: #ffffff;
}

.btn-wind-2 button {
    margin: 18px;
    background-color: #5865f2;
    color: #ffffff;
}

/* Add space before text in both buttons */
.common-button-style span {
    margin-left: 8px;
}

/* Change the fill color of the SVG path for Download for Windows button */
.btn-wind button:hover svg path {
    fill: #3498db;
}

/* Hover styles for both buttons */
.btn-open button:hover,
.btn-wind button:hover,
.btn-wind-2 button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-wind button:hover {
    color: #3498db;
}

/*row 2, 4*/
.row2, .row4 {
    padding: 120px 40px ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #23272a;
}

.text-box-2 {
    width: 400px;
    height: 440px;
    font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
}

.img2 {
    width: 678px;
    height: 440px;
    margin-right: 80px;
}

.img5 {
    width: 84%;
    height: auto;
}

.img6{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*row 3*/
.row3 {
    padding: 120px 40px ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    color: #23272a;
}

/*row 5*/
.text-box-5 {
    /*width: 980px;*/
    width:68%;
    font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

.content-5 {
    width: 84%;
    padding: 120px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    color: #23272a;
    overflow: hidden;
}

/*row 6*/
.content-6 {
    font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 531px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.row6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    color: #23272a;
    position: relative;
}

.img6{
    margin-left: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 0;
}

/*FOOTER*/
footer{
    background-color: #23272a;
    color: white;
    font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.footer-content{
    padding: 80px 0 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    margin-left: 40px;
}

.footer-bottom{
    width: 84%;
    /*box-sizing: content-box;*/
    padding-top: 40px;
    margin: 0 40px 0 40px;
    border-top: 1px solid #5865f2;
    display: flex;
    flex:1;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

.list-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.refs{
    padding: 24px 180px 24px 0;
}

.refs a{
    margin-right: 20px;
    text-decoration: none;
}

/*STYLE LIST IN FOOTER*/

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

footer ul {
    list-style-type: none;
    padding: 0;
    width: 180px;
    margin: 12px 0 40px 16px;
}

footer ul li {
    margin: 8px 0 0 0;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

footer ul li a:hover {
    text-decoration: none; /* Remove the default underline */
    position: relative;
}

footer ul li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.headlines{
    color:#5865f2;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*-------------------------*/

/* Style for the dropdown button and content */
.dropbtn {
    background-color: #23272a;
    color: white;
    padding: 24px 0 24px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 100%;
    max-height: 272px;
    overflow-y: auto;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {*/
/*    background-color: #3e8e41;*/
/*}*/

.dropdown-content::-webkit-scrollbar {
    width: 4px;
    height: 32px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #cccccc; /* Set the color of the scrollbar thumb */
    border-radius: 6px;
}

.dropdown-content::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}

.lang{
    width:20px;
    height:auto;
}

.sign-up-holder button {
    display: flex;
    align-items: center;
    height: 38px;
    width: 72px;
    padding: 7px 12px 7px 12px;
    font-size: 14px;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #5865f2;
    color: #ffffff;
    border: 0 solid #ffffff;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.sign-up-holder button:hover {
    background-color: #7983f5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Burger Menu Styles */
.burger-menu {
    display: none;
}

.burger-icon {
    display: none;
}

#burger-checkbox {
    display: none;
}

.inner-logo-holder{
    display:none;
}

.inner-buttons-box{
    display:none;
}

.inner-content{
    margin: 0;
    padding: 0;
}

.list-holder{
    display: flex;
    flex-direction:row;
}

.bottom-ul, .top-ul{
    display: flex;
    flex-direction:row;
}

.close-menu {
    display: none;
}

.log-in-holder-add{
    display:none;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1150px) {
    .logo-holder{
        margin-top: 8px;
    }

    header{
        align-items: flex-start;
        justify-content: left;
        padding-left: 0;
    }

    .logo-holder{
        margin-left:40px;
    }

    .inner-logo-holder{
        margin: 24px 0 0 24px;
        display:flex;
        border-bottom: solid 1px lightgray;
        padding-bottom: 32px;
        width: 80%;
    }

    .inner-buttons-box{
        display:flex;
        bottom: 0;
    }

    .log-in-holder-add{
        margin-left: auto;
    }

    .menu-holder{
        display:none;
    }

    .row1{
        align-items: flex-start;
        justify-content: left;
    }

    .left{
        display: none;
    }

    .overlay-image .right{
        margin-left: -70px;
        /*position: absolute;*/
        /*max-width: 100%;*/
        height: auto;
    }

    .btn-open button{
        margin: 24px 0 0 0;
    }

    .btn-wind button{
        margin: 24px 0 0 0;
    }

    .btn-wind-2 {
        width: 90%;
    }

    .btn-wind-2 button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .common-button-style {
        display: flex;
        flex:1;
    }

    .common-button-style button{
        width:280px;
    }

    .content{
        margin-left: 40px;
        text-align: left;
        max-width: 620px;
    }

    .main-buttons-box{
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        margin-left: 0;
    }

    .inner-buttons-box .common-button-style{
        font-size: 14px;
        padding: 7px 16px 7px 16px;
    }

    .img2{
        width: 454px;
    }

    .menu-holder {
        display: none;
    }

    /* Show the burger icon */
    .burger-icon {
        display: block;
        width:38px;
        color:white;
        margin: 3px 16px 0 16px;
        font-weight: bold;
    }

    /* Show the menu when the checkbox is checked */
    #burger-checkbox:checked ~ .menu-holder {
        display: flex;
    }

    #burger-checkbox:checked ~ body {
        overflow: hidden;
    }

    /* Style the burger menu */
    .menu-holder {
        flex-direction: column;
        position: absolute;
        margin-top:-2px;
        top: 0;
        right: 0;
        height: 100vh;
        width: 330px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        justify-content: space-between;
        /*clip-path: inset(0 0 0 0 round 10px);*/
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .menu-holder  ul {
        top:0;
        margin: 24px 0 0 36px;
        flex-direction: column;
    }

    li {
        margin: 10px;
    }

    header ul li {
        padding: 10px;
        margin-right: 44px;
        color: #23272a;
    }

    header ul li a {
        text-decoration: none;
        color: #23272a;
        font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: lighter;
    }

    header ul li a:hover {
        text-decoration: underline;
        color: #5865f2;
    }

    .menu-holder li:hover, .menu-holder ul li:first-child {
        background-color: #f2f2f2;
        border-radius: 5px;
    }

    .list-holder{
        display: flex;
        flex-direction:column;
    }

    .top-ul, .bottom-ul{
        display: flex;
        flex-direction:row;
    }

    .close-menu {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .close-menu svg {
        width: 24px;
        height: 24px;
    }

    .log-in-holder-main{
        display: none;
    }

    .log-in-holder-add{
        display: flex;
    }

    .log-in-holder-add button {
        display: flex;
        align-items: center;
        height: 38px;
        width: 64px;
        padding: 7px 16px 7px 16px;
        font-size: 14px;
        font-family: 'Helvetica Neue', sans-serif;
        background-color: #ffffff;
        color: #2c2f33;
        border: 0 solid #ffffff;
        border-radius: 40px;
        cursor: pointer;
    }

}

/*MEDIA QUERIES*/
@media only screen and (max-width: 768px) {

    .main-buttons-box{
        padding-bottom: 60px;
    }

    .right {
        display: none;
    }

    .left {
        display: flex;
        position: relative;
        align-self: center;
    }

    .background-image{
        display: none;
    }

    .content{
        width: auto;
    }


    .row1, .row2, .row3, .roe4, .row4, .row5, .row6, .footer-top{
        flex-direction: column;
    }

    .footer-content{
        display: flex;
        align-content: flex-start;
        justify-content: left;
        margin-left: 20px;
    }

    .footer-top{
        align-content: flex-start;
        justify-content: left;
        margin-left: 20px;
    }

    .img6{
        width:80%;
    }

    .main-buttons-box{
        width: 90%;
    }

    .btn-wind-2 {
        width: 90%;
    }

    .content-6{
        width: 98%;
    }

}

/*MEDIA QUERIES*/
@media only screen and (max-width: 480px) {
    .footer-bottom{
        width: auto;
    }

    .left{
        width:100%;
        margin-right: 0;
        margin-left: -80px;
    }

    .log-in-holder-add{
        padding: 4px;
    }

    .list-holder{
        font-size: 12px;
    }

    h1{
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4{
        font-size: 30px;
    }

    p{
        margin-top: 14px;
        font-size: 16px;
    }

    .img1 {
        width: 200px;
    }

    .img2{
        width: 370px;
        margin: 0;
    }

    .text-box-2{
        height: auto;
    }

    .row2, .row3,.row4,.row5,.row6 {
        padding: 12px 24px 32px 24px;
        width: auto;
    }

    .footer-top{
        font-size: 10px;
        /*margin-left: 14px;*/
    }

    .navigation{
        width: auto;
    }

    .img2{
        width: 95%;
        margin: 0;
    }

    .text-box-2{
        height: auto;
        width: auto;
    }

    .content-5{
        width:auto;
        padding: 0;
    }

    .footer-bottom{
        padding-left: 0;
        margin: 0;
    }

    .content-6, .content{
        padding-top: 20px;
    }


    footer ul {
        list-style-type: none;
        padding: 0;
        width: auto;
        margin: 12px 0 40px 16px;
    }

    footer ul li {
        margin: 8px 0 0 0;
    }

    footer ul li a {
        text-decoration: none;
        color: white;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 10px;
    }

    /*.refs{*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*}*/

    .refs svg{
        width: 14px;
    }
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 450px) {

    .log-in-holder-add{
        padding: 2px;
    }

    .list-holder{
        font-size: 10px;
    }

    h1{
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h4{
        font-size: 28px;
    }

    p{
        font-size: 14px;
    }

    /*.img1 {*/
    /*    width: 350px;*/
    /*}*/


    .row2, .row3,.row4,.row5,.row6 {
        padding: 20px 10px 20px 10px;
    }
}

